@import "alert";
@import "avatars";
@import "badges";




.form-inline{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home_title{
  font-size: 45px;
  font-weight: bold;
}

.container{
  padding-top: 50px;
  padding-bottom: 50px;

}
